@media (max-width: 1200px) {

  * {
    box-sizing:border-box;
  }
  
  .box1 {
    /* background-color:red; */
    width:100%;
    height:500px;
    /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/16.jpg); */
    background-image: url('./16.JPG');
    background-size:cover;
    color:white;
    text-align:center;
  }
  
  .box1 h1 {
    padding-top:150px;
    font-size:100px;
  }
  
  header {
    background-color:#800000;
    width:100%;
    height:60px;
  }
  
  ul {
    width:2000px;
  }
  
  li {
    float:left;
    list-style:none;
    padding:20px 45px;
    font-size:15px;
    color:white;
  }

  .box2 {
    /* background-color:pink; */
    width:100%;
    height:2100px;
    text-align:center;
  }


  .box2 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 80px;
    border-bottom:2px solid black;
  }


  .box2 p {
    font-size:40px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:80px;
  }

  .box3 {
    /* background-color:green; */
    width:100%;
    height:1300px;
    text-align:center;
    position:relative;
  }
  
  .box3 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 100px;
    border-bottom:2px solid black;
  }
  
  .box3 .name {
    text-align:left;
    font-size:70px;  
    padding-top:60px;
    line-height:50px;
    margin-left:420px;
  }
  
  .box3 .reki {
    text-align:left;
    font-size:35px;  
    line-height:80px;
    margin-left:420px;
  }
  
  .box3 img {
    width:500px;
    height:500px;
    position:absolute;
    top:640px;
    left:10px;
  }


  .box4 {
    /* background-color:pink; */
    width:100%;
    height:1400px;
    text-align:center;
  }


  .box4 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 35px;
    border-bottom:2px solid black;
  }


  .box4 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:20px;
    margin:0px 10px;
    line-height:60px;
  }

  .box4 h3 {
    font-size:60px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:60px;
  }

  .box5 {
    /* background-color:green; */
    width:100%;
    height:1200px;
    text-align:center;
  }


  .box5 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 40px;
    border-bottom:2px solid black;
  }


  .box5 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:80px;
  }

  .box5 h3 {
    font-size:60px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:60px;
  }

  .box5-left {
    float:left;
    width:50%;
    height:500px;
    /* background-color:blue; */
  }
  
  .box5-left p {
    padding-left:100px;
  }
  
  .box5-right {
    float:left;
    width:50%;
    height:500px;
    /* background-color:red; */
  }
  
  .box5-right p {
    padding-right:50px;
  }


  .box6 {
    /* background-color:pink; */
    width:100%;
    height:1100px;
    text-align:center;
  }


  .box6 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 40px;
    border-bottom:2px solid black;
  }


  .box6 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:20px;
    margin:0px 10px;
    line-height:80px;
  }

  .box6 h3 {
    font-size:60px;  
    padding-top:40px;
    padding-bottom:30px;
    margin:0px 10px;
    line-height:60px;
  }

  .box7 {
    /* background-color:green; */
    width:100%;
    height:1100px;
    text-align:center;
    position:relative;
  }


  .box7 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 200px;
    border-bottom:2px solid black;
  }


  .box7 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:20px;
    margin:0px 10px;
    line-height:80px;
  }

  .michi {
    position:absolute;
    width:500px;
    height:500px;
    top:600px;
    left:150px;
  }
  
  .qr {
    position:absolute;
    width:200px;
    height:200px;
    top:800px;
    left:470px;
  }

  footer {
    background-color:#ffa500;
    width:100%;
    height:700px;
  }
  
  footer img {
    float:left;
    margin:20px 30px;
    width:100px;
    height:100px;
  }
  
  .info p {
    margin:2px 15px;
    font-size:40px;
  }
  
  .info .name {
    font-size:80px;
    margin:0px 20px;
  }
 
  
  



 
  
  
  }
  